<div class="container">
  <h1>Restaurant and Menu Search</h1>

  <div class="search-form">
    <form [formGroup]="searchForm">
      <div class="form-group">
        <label for="searchType">Search by:</label>
        <select id="searchType" formControlName="searchType">
          <option value="restaurant">Restaurant Name</option>
          <option value="menu">Menu Name</option>
        </select>
        <div class="validation-message" *ngIf="isFormSubmitted && searchForm.get('searchType')?.hasError('required')">
          Please select a search option.
        </div>
      </div>
  
      <div class="form-group" *ngIf="searchForm.get('searchType')?.value === 'restaurant'">
        <label for="restaurantName">Restaurant Name:</label>
        <input type="text" id="restaurantName" formControlName="restaurantName" required />
        <div class="validation-message" *ngIf="isFormSubmitted && searchForm.get('restaurantName')?.hasError('restaurantNameRequired')">
          Restaurant name is required.
        </div>
      </div>
  
      <div class="form-group" *ngIf="searchForm.get('searchType')?.value === 'menu'">
        <label for="menuSelection">Select Menu:</label>
        <select id="menuSelection" formControlName="menuSelection">
          <option value="" disabled>Select Menu</option>
          <option *ngFor="let menuItem of menuDetails" [value]="menuItem.id">{{ menuItem.name }}</option>
        </select>
        <div class="validation-message" *ngIf="isFormSubmitted && searchForm.get('menuSelection')?.hasError('menuSelectionRequired')">
          Menu selection is required.
        </div>
      </div>
  
      <button (click)="search()">Search</button>
    </form>
  </div>

  <div class="search-results" *ngIf="restaurants.length > 0">
    <h2 class="search-results-heading">Search Results</h2>
    <ul class="restaurant-list">
      <li class="restaurant-item" *ngFor="let restaurant of restaurants">
        <h2 class="restaurant-name">{{ restaurant.name }}</h2>
        <p class="restaurant-address"><strong>Address:</strong> {{ restaurant.address }}</p>
        <ul class="menu-list">
          <li class="menu-item" *ngFor="let menu of restaurant.menus">
            <div class="menu-item-content">
              <div class="menu-image">
                <img class="menu-image-small menu-image-circle" src="../../../assets/images/{{menu.imageSrc}}" alt="{{ menu.name }}" />
              </div>
              <div class="menu-details">
                <p class="menu-name"> {{ menu.name }}</p>
                <p class="menu-price">Price: ${{ menu.price }}</p>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
</div>
